@using Du_Toan_Xay_Dung.Models
@{
    var CongTrinhs = ViewData["List_CongTrinh"] as List<CongTrinhViewModel>;
    var HangMucs_IdCT = ViewData["List_HangMuc_IdCT"] as List<HangMucViewModel>;
    ViewBag.Title = "ChiTiet_CongTrinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#btn_href_dutoan').click(function () {
                var s = $('#txtmact').val();
                $(this).attr('href', '/HangMuc/Index/' + s);
            });
        });

    </script>
}


<section class="content-header">
    <select class="selectpicker" name="combobox_congtrinh" id="combobox_congtrinh" data-width="200px">
        @foreach(var item in CongTrinhs)
        {
            if(item.MaCT.Equals(HangMucs_IdCT.First().MaCT))
            {
                <option value="@item.MaCT" selected>@item.TenCT</option>
            }
            else
            {
                <option value="@item.MaCT">@item.TenCT</option>
            }
        }
    </select>
    <ol class="breadcrumb">
        <li><a href="/CongTrinh/Index"><i class="fa fa-dashboard"></i>Công Trình</a></li>
        <li class="active">Hạng Mục</li>
    </ol>
</section>


<section class="content">
    <div class="col-lg-12">
        <a class="btn btn-primary" id="btn_themhm" href="/CongTrinh/ThemHangMuc/@HangMucs_IdCT.First().MaCT"><i class="fa fa-fw fa-plus"></i>Thêm Hạng Mục</a>
    </div>

    <div id="container" class="container" style="margin-top:100px">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Hạng Mục</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th style="width: 50px">#</th>
                            <th style="width: 250px">Tên</th>
                            <th style="width: 250px">Mô Tả</th>
                            <th style="width: 80px">Giá</th>
                            <th colspan="3"></th>
                        </tr>
                        @foreach (var item in HangMucs_IdCT)
                        {
                            var MaCT_MaHM = item.MaCT + "," + item.MaHM;
                            <tr>
                                <td></td>
                                <td>@item.TenHM</td>
                                <td>@item.MoTa</td>
                                <td>@item.Gia</td>
                                <td>
                                    <a class="btn btn-primary btn-flat btn-xs" title="Hạng Mục" href="/CongTrinh/UpdateHangMuc/?ID=@item.MaHM" target="_blank">
                                        <i class="fa fa-edit"></i>Sửa
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-flat btn-xs" title="Hạng Mục" href="/HangMuc/Index/?ID=@MaCT_MaHM" target="_blank">
                                        <i class="fa fa-edit"></i>Dự Toán
                                    </a>
                                </td>
                                <td>
                                    <input type="hidden" value="@item.MaHM" />
                                    <button class="btn btn-danger btn-flat btn-xs">
                                        <i class="fa fa-edit"></i> Xóa
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>


</section>
