@using Du_Toan_Xay_Dung.Handlers
@using Du_Toan_Xay_Dung.Models
@{
    ViewBag.Title = "Danh Sách Công Trình";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_congtrinh = ViewData["List_CongTrinh"] as List<BuildingViewModel>;
    var congtrinhs_null = ViewData["List_CongTrinh_Null"] as List<long>;
    
}
<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .img_box {
        list-style: none;
        position: relative;
        display: table;
        margin: 8px;
        height: 160px;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 5px 0 #a2958a;
        padding: 6px;
        float: left;
    }

    .icon-delete {
        display: inherit;
        margin: 20px 0px 0px 0px;
    }
    .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>
<script>
   
        $(document).ready(function () {
            $('#container ').on('click', '.btn_getdata', function () {
                var _txtID = $(this).attr("data-dropboxmact");
                $("#btn_uploadimages").attr("data-mactupload", _txtID);
                $("#btn_uploadfileexcel").attr("data-mactupload", _txtID);
            });

            $("#container").on('mouseover', '.each_project', function () {
                var des = $(this).find(".description_project");
                des.css("margin-top", "");
                var but = $(this).find(".button-project");
                but.css("display", "");
            });
            $("#container").on('mouseout', '.each_project', function () {
                var des = $(this).find(".description_project");
                des.css("margin-top", "25px");
                var but = $(this).find(".button-project");
                but.css("display", "none");
            });

        });
</script>
<script>
    angular.module('postApp', [])
   .controller('postController', ['$scope', '$http','$filter', function ($scope, $http,$filter) {
       // xóa công trình
       $scope.submitForm = function () {
           var mact = $scope.MaCT;
            console.log(mact);
            var postdata = {
            ID: mact
            };
                   $http({
                       method: 'POST',
                       url: '/CongTrinh/Delete_CongTrinh',
                       data: JSON.stringify(postdata),
                       headers: { 'Content-Type': 'application/json' }
                   })
                       .success(function (result) {
                           if (result == "ok") {
                               open_alert("success");
                               location.reload();
                           }
                           else {
                               open_alert("fail");

                           }
                       });
       }
       
       $scope.return=function()
       {
           window.location.href = "/CongTrinh/Index";
       }
       $scope.xoa = function (ID) {
           $scope.MaCT = ID
       }
       // upload hình ảnh
       $scope.stepsModel = [];
       $scope.listdropbox = [];
       $scope.listfile = [];//list file
       var fd = new FormData();

       $scope.uploadedFile = function (event) {
           $scope.$apply(function ($scope) {
               $scope.files = event.files;
           });
           $scope.stepsModel = [];
           var files = event.target.files; //FileList object
           for (var i = 0; i < files.length; i++) {
               var file = files[i];
               var reader = new FileReader();
               reader.onload = $scope.imageIsLoaded;
               reader.readAsDataURL(file);
               $scope.listfile.push(file);
           }
       }

       $scope.imageIsLoaded = function (e) {
           $scope.$apply(function () {
               var image = {};
               image.Name = e.target.fileName;
               image.Size = (e.total / 1024).toFixed(2);
               image.Src = e.target.result;
               $scope.stepsModel.push(image);
               var specify_image = {
                   url: image.Src,
                   filename: image.Name
               };
               $scope.listdropbox.push(specify_image);
           });
       }
       // thêm công trình
       $scope.submit = function () {
           if ($scope.add.$valid) {
               var tenct = document.getElementById("TenCT").value;
               var mota = document.getElementById("MoTa").value;
               var diachi = document.getElementById("DiaChi").value;
               fd.append("Name", tenct);
               fd.append("Description", mota);
               fd.append("Address", diachi);
               if ($scope.listfile) {
                   for (var i = 0; i < $scope.listfile.length; i++) {

                       fd.append("img_congtrinh", $scope.listfile[i]);
                   }
               }
               $http.post('/CongTrinh/Post_ThemCongTrinh', fd, {
                   transformRequest: angular.identity,
                   headers: { 'Content-Type': undefined }
               })
                 .success(function (result) {
                     if (result == "ok") {
                         open_alert("success");
                         location.reload();
                     } else {
                         open_alert("fail");
                     }
                 });
           }
       };
       // save dropbox
       $scope.savetodropbox = function () {
           var options = {
               files: $scope.listdropbox,

               // Success is called once all files have been successfully added to the user's
               // Dropbox, although they may not have synced to the user's devices yet.
               success: function () {
                   // Indicate to the user that the files have been saved.
                   alert("Success! Files saved to your Dropbox.");
               },

               // Progress is called periodically to update the application on the progress
               // of the user's downloads. The value passed to this callback is a float
               // between 0 and 1. The progress callback is guaranteed to be called at least
               // once with the value 1.
               progress: function (progress) { },

               // Cancel is called if the user presses the Cancel button or closes the Saver.
               cancel: function () { },

               // Error is called in the event of an unexpected response from the server
               // hosting the files, such as not being able to find a file. This callback is
               // also called if there is an error on Dropbox or if the user is over quota.
               error: function (errorMessage) {
               }
           };
           Dropbox.save(options);
       };
       // xóa hình đã thêm
       $scope.deleteTempImage = function (idx, x) {
               debugger;
               var myEl = angular.element(document.querySelector('#img_box'));
               myEl.remove();
               $scope.listfile.splice(idx, 1);
               fd.delete(idx, x);   
       }
       //load list  chi tiết công trình
       $scope.list_thongtin = [];
       $http.get('/CongTrinh/Get_Allinf').then(function (response) {
           $scope.list_thongtin = response.data;
       }, function (response) {
           //Showing errors
       });
       //array did filter
       $scope.chitiet = [];
       $scope.changeclick = function (value) {
           $scope.chitiet = $filter('filter')($scope.list_thongtin, value);
       };


   }]);
</script>
<style>
    .description_project {
        height: 51px;
        text-align: left;
    }
</style>

<section class="content" ng-app="postApp" ng-controller="postController">
    @if (SessionHandler.User != null)
    {
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <h3>Công trình <small class="label label-info">Danh sách</small></h3>
            </div>
            <div class="col-xs-12 col-sm-2">
                <p style="padding:5px"></p>
                <button style="margin-right:100px" class="btn btn-primary form-control" data-toggle="modal" data-target="#modal_add_building"><strong>Thêm Công Trình</strong></button>
            </div>
        </div><br /><hr />    
        <!--list cong trinh, copy ra 1 file rieng de de~
            phan biet voi cai file chung, copy het quang vo-->
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled">
                    <!--for each in here-->
                    @if (list_congtrinh!=null){
                    
                    foreach (var item in list_congtrinh)
                    {
                        var d = 0;
                        var description = "";
                        if (Convert.ToString(item.Description).Length > 60)
                        {
                            description = Convert.ToString(item.Description).Substring(0, 60);
                        }
                        else
                        {
                            description = item.Description;
                        }
                        <li class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="green-light">@item.Name</a>
                                        <p class="text-danger">Giá tiền: <small class="badge font-orbitron">@item.Sum</small></p>
                                    </h3>
                                    <button class="btn btn-primary btn-xs" ng-click="changeclick(@item.ID)" data-toggle="modal" data-target="#modal_info_building">
                                        Xem thông tin
                                    </button>
                                </div>
                                <div class="panel-body">
                                    <div class="info-project">
                                        <div class="col-sm-12">
                                            <img src="~/Images/Awicons-Vista-Artistic-Office-building.ico" class="img-responsive" style="width:200px; height:200px;" />
                                        </div>
                                        <p>@description...</p>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <a class="btn btn-default" style="float:left;margin-left:20px" href="/CongTrinh/ChiTiet_CongTrinh/@item.ID" target="_blank"><i class="fa fa-fw fa-list" style="font-size: initial"></i></a>
                                        <form method="post" name="formAdd" id="formAdd" ng-submit="submitForm()">
                                            <input type="hidden" value="@item.ID" id="mact" />
                                            <a class="btn btn-default" style="float:left;margin-left:20px" href="/CongTrinh/UpdateCongTrinh/@item.ID" target="_blank"><i class="fa fa-fw fa-edit" style="font-size:large"></i></a>
                                            <a class="btn btn-default" style="float:left;margin-left:20px" href="/CongTrinh/ExportToExcel/@item.ID"><i class="fa fa-fw fa-file-excel-o" style="font-size: initial"></i></a>
                                            <button type="button" data-toggle="modal" data-target="#myModal" ng-click="xoa(@item.ID)" class="btn btn-danger btn_deleteproject" style="float:left;margin-left:20px"><i class="fa fa-fw fa-trash-o" style="font-size: initial"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    }
                    
                    <!--// ket thuc vong lap ở đây-->
                </ul>
            </div>
            </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_info_building" role="dialog" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông tin công trình</h4>
                </div>
                <div class="modal-body" ng-repeat="data in chitiet">
                    <p>Tên công trình:{{data.Name}}</p>
                    <p>Địa chỉ:{{data.Address}}</p>
                    <p>Mô tả:{{data.Description}}</p>
                    <p>Giá:{{data.Sum}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="modal_add_building" role="dialog">
       <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">THÊM CÔNG TRÌNH</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="add" name="add" class="form-horizontal" role="form" method="post">
                            <div class="form-group" style="margin-right:20px">
                                <label class="control-label col-sm-2" for="">Tên công trình:</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="congtrinh.TenCT" class="form-control" id="TenCT" name="TenCT" placeholder="Tên công trình">
                                </div>
                            </div>
                            <div class="form-group" style="margin-right:20px">
                                <label class="control-label col-sm-2" for="">Mô tả:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="congtrinh.MoTa" id="MoTa" name="MoTa" placeholder="Mô tả">
                                </div>
                            </div>
                            <div class="form-group" style="margin-right:20px">
                                <label class="control-label col-sm-2" for="">Địa chỉ:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="congtrinh.DiaChi" id="DiaChi" name="DiaChi" placeholder="Địa chỉ">
                                </div>
                            </div>
                            <div class="form-group" style="margin-right:20px">
                                <label class="control-label col-sm-2" style="margin-left:20px" for="Url_HinhAnh">Hình ảnh:</label>
                                <div id="listImage" class="listImage_old col-sm-12" style="padding-left:80px">
                                    <div id="Images_new" class="col-sm-11">
                                        <!--<span class="closeall_images" id="closeall_images" style="padding-left:900px"><i class="fa fa-fw fa-remove"></i></span>-->
                                        <div id="img_box" class="img_box" ng-repeat="x in stepsModel track by $index">
                                            <div style="display:none">{{x.Name}}</div>
                                            <div style="display:none">{{x.Size}}</div>
                                            <img ng-src="{{x.Src}}" style="width:150px;height:150px">
                                            <span class="image_name"></span>
                                            <span class="icon-delete kv-file-zoom btn btn-xs btn-default"ng-click="deleteTempImage($index,x)">
                                                <i class="fa fa-fw fa-trash-o" aria-hidden="true">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <label style="margin-left:120px" for="gallery_upload" class="custom-file-upload" id="gallery_upload_choose">
                                    <i class="fa fa-cloud-upload"></i> Chọn ảnh
                                </label>
                                <input id="gallery_upload" type="file" name="file" onchange="angular.element(this).scope().uploadedFile(event)" multiple accept="image/*" style="display:none" />
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="">Dropbox:</label>
                                <div class="col-sm-10">
                                    <span class="btn btn-default dropbox-saver" id="btn_savetoDropbox" ng-click="savetodropbox()">
                                        <img style="width:25px;height:25px" src="~/Images/Bokehlicia-Alike-Dropbox.ico" />
                                        Save Images to Dropbox
                                    </span>
                                    <!--<a href="https://cf.dropboxstatic.com/static/images/developers/dropblox.png" id="btn_savetoDropbox" class="dropbox-saver dropbox-dropin-btn dropbox-dropin-default"><span class="dropin-btn-status"></span>Save Images to Dropbox</a>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="button" class="btn btn-block btn-primary btn-lg" id="btn_submit" ng-click="submit()" data-dismiss="modal">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>

            </div>

        </div>
    </div>
    <div id="myModal" class="modal font-arial">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <input type="hidden" ng-model="MaCT" />
                <!--header-->
                <div class="modal-header bg-danger">
                    <!--title-->
                    <div class="modal-title">
                        <h4 class="text-danger">Chấp nhận xóa?</h4>
                    </div>
                </div>
                <!--body-->
                <div class="modal-body">
                    <!--alert message research-->
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <h4>Lưu ý:</h4>
                        <p>
                            Xin vui lòng suy nghĩ kỹ trước khi xóa.
                            Việc xóa bỏ sẽ không thể khôi phục bạn chắc chứ?
                        </p>
                    </div>
                </div>
                <!--footer-->
                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal" ng-click="submitForm()">Đồng ý</a>
                    <a class="btn btn-default" data-dismiss="modal">Hủy</a>
                </div>
            </div>
        </div>
    </div>
    }   
</section>
