@using Du_Toan_Xay_Dung.Models
@{
    ViewBag.Title = "suacongtrinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var congtrinh = (dynamic)null;
    var hinhanh = (dynamic)null;
    if (ViewData["CongTrinh_Update"] != null && ViewData["image_congtrinh"] != null)
    {
        congtrinh = ViewData["CongTrinh_Update"] as CongTrinhViewModel;
        hinhanh = ViewData["image_congtrinh"] as List<Images_CongTrinhViewModel>;
    }
}
<script>
    angular.module('postApp', [])
   .controller('postController', ['$scope', '$http', function ($scope, $http) {
       $scope.fileGallery = new Array();
       var max_fileGallery = 12;
       var current_fileGallery = 0;
       $('#gallery_upload').change(function () {
           readURL(this);
       });
       function readURL(input) {
           var files = input.files;
           for (var i = 0; i < files.length; i++) {
               if (current_fileGallery > max_fileGallery - 1) {
                   return;
               } else {
                   current_fileGallery++;
                   var url = input.value;
                   var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
                   if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg") {
                       if (files[i].size < 10485760) {
                           if (files.length > 0 && files[i]) {
                               var reader = new FileReader();

                               //check if file is image, set div display images should show
                               $("#listImage").css("display", "");

                               // Closure to capture the file information.
                               reader.onload = (function (theFile, sqe) {
                                   return function (e) {
                                       $scope.fileGallery.push(theFile);
                                       var li = $("<div class='img_box'></div>");
                                       var newAvatar = $("<img title='" + theFile.name + "' src='" + e.target.result + "' style='width:200px;height:200px'/>");
                                       var image_name = $("<span class=\"image_name\">" + theFile.name + "</span>");
                                       var newIconRemove = $("<span class=\"icon-delete kv-file-zoom btn btn-xs btn-default\" id=''><i class=\"fa fa-fw fa-trash-o\" aria-hidden=\"true\"></i></span>");
                                       li.append(newAvatar).append(image_name).append(newIconRemove);
                                       $("#listImage").append(li);
                                       newIconRemove.bind("click", function () {
                                           $(this).parent().remove();
                                           $scope.fileGallery.splice(theFile, 1);
                                           current_fileGallery--;
                                           if (current_fileGallery == 0) {
                                               $("#listImage").css("display", "none");
                                               $("#gallery_upload").val("");
                                           }
                                       });
                                   };
                               })(files[i], i);
                               reader.readAsDataURL(files[i]);
                           }
                       } else {

                       }
                   }
                   else {
                       //chon anh
                   }
               }
           }
       };
       $scope.master = {};
       $scope.submitForm = function (congtrinh) {
           congtrinh.img_congtrinh = angular.copy($scope.fileGallery);
           console.log(congtrinh.img_congtrinh);
           $scope.master = angular.copy(congtrinh);
           /*var data = $.param({
               firstName: $scope.firstName,
               lastName: $scope.lastName,
               age: $scope.age
           });*/

           $http({
               method: 'POST',
               url: '/CongTrinh/post_updatecongtrinh',
               data: JSON.stringify($scope.master),
               headers: { 'Content-Type': 'application/json' }
           })
               .success(function (result) {
                   if (result == "error") {
                       // Showing errors.
                       //$scope.errorEmail = data.errors.email;
                       alert("Xảy ra lỗi");
                       return;
                   }
                   else {
                       //$scope.message = data.message;
                       alert("Lưu thành công");
                       window.location.href = "/CongTrinh/Index";
                   }
               });

       };
               /*var data = $.param({
                   MaCT: $scope.mact,
                   TenCT: $scope.TenCT,
                   DiaChi : $scope.diachi,
                   MoTa:$scope.mota,
                   img_congtrinh:$scope.fileGallery
               });*/
        
              /* var config = {
                   headers : {
                       'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                   }
               }

           $http.post('/CongTrinh/post_updatecongtrinh', data, config)
               .success(function (data, status, headers, config) {
                   $scope.ServerResponse = data;
               })
               .error(function (data, status, header, config) {
                   $scope.ServerResponse = "Data: " + data +
                       "<hr />status: " + status +
                       "<hr />headers: " + header +
                       "<hr />config: " + config;
               });
           };*/
       $("#listImage").on('click', '.btn-default', function () {
           var hoi = confirm("Bạn có chắc chắn muốn xóa hình ảnh");
           $("#listImage .img_box").each(function () {
               var image = $(this).find("img");
               var imgurl = image.attr("src");
               var imgname = image.attr("title");
           })
           if (hoi == true) {
               $(this).parent().remove();
           }
           else {
               return;
           }
       });

       $('#listImage').on('click', '#closeall_images', function () {
           //remove each image
           $("#listImage .img_box").each(function () {
               $(this).remove();
           });
       });
   }]);
</script>

<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .img_box {
        list-style: none;
        position: relative;
        display: table;
        margin: 8px;
        height: 160px;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 5px 0 #a2958a;
        padding: 6px;
        float: left;
    }

    .icon-delete {
        display: inherit;
        margin: 20px 0px 0px 0px;
    }

    .img_box .image_name {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .listImage {
        border-radius: 5px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding-right: 5px;
    }

    .closeall_images {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
    }

        .closeall_images:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5;
        }

    .button_choosefile {
        padding-left: 0px;
    }
</style>

<section class="content-header">
    <h1>Sửa Công Trình</h1>
    <ol class="breadcrumb">
        <li><a href="/CongTrinh/Index"><i class="fa fa-dashboard"></i>Công Trình</a></li>
        <li class="active">Sửa Công Trình</li>
    </ol>
</section>

@if (congtrinh != null && hinhanh != null)
{
    <section class="content row" style="margin-top:50px" ng-app="postApp" ng-controller="postController"
             ng-init="congtrinh.MaCT='@congtrinh.MaCT';congtrinh.TenCT='@congtrinh.TenCT'; congtrinh.MoTa='@congtrinh.MoTa';congtrinh.DiaChi='@congtrinh.DiaChi'">
        <div class=" container body-content">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <input type="text" style="display:none" name="mact" ng-model="congtrinh.MaCT" />
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="">Tên công trình:</label>
                        <div class="col-sm-10">
                            <input type="text" name="tenct" ng-model="congtrinh.TenCT" class="form-control" placeholder="Tên công trình">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="">Mô tả:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="mota" rows="3" ng-model="congtrinh.MoTa" placeholder="Công trình nhu th? nào ..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="">Ðịa chỉ:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="diachi" ng-model="congtrinh.DiaChi" placeholder="Ð?a ch?">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Url_HinhAnh">Hình ảnh:</label>
                        <div class="col-sm-10">
                            <div id="listImage" class="listImage col-sm-12">
                                <span class="closeall_images" id="closeall_images"><i class="fa fa-fw fa-remove"></i></span>
                                @foreach (var k in hinhanh)
                                {
                                    <div class="img_box">
                                        <img title="@k.Url.Substring(19, @k.Url.Length-19)" src="~/Images/CongTrinh/@k.Url.Substring(19, @k.Url.Length-19)" style="width:200px;height:200px">
                                        <span class="image_name">@k.Url.Substring(19, @k.Url.Length - 19)</span>
                                        <span class="icon-delete kv-file-zoom btn btn-xs btn-default">
                                            <i class="fa fa-fw fa-trash-o" aria-hidden="true">
                                            </i>
                                        </span>
                                    </div>
                                }
                            </div>
                            <div class="button_choosefile col-sm-2">
                                <label for="gallery_upload" class="custom-file-upload" id="gallery_upload_choose">
                                    <i class="fa fa-cloud-upload"></i> Chọn ảnh
                                </label>
                                <input id="gallery_upload" type="file"  class="input-upload-file" multiple="" accept="image/*" style="display:none" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="">Dropbox:</label>
                        <div class="col-sm-10">
                            <span class="btn btn-default dropbox-saver" id="btn_savetoDropbox">
                                <img style="width:25px;height:25px" src="~/Images/Bokehlicia-Alike-Dropbox.ico" />
                                Save Images to Dropbox
                            </span>
                            <!--<a href="https://cf.dropboxstatic.com/static/images/developers/dropblox.png" id="btn_savetoDropbox" class="dropbox-saver dropbox-dropin-btn dropbox-dropin-default"><span class="dropin-btn-status"></span>Save Images to Dropbox</a>-->
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <input class="btn btn-block btn-primary btn-lg" id="btn_submit" value="Lưu" ng-click="submitForm(congtrinh)" />
                        </div>
                    </div>
                </form>
            </div>
            </div>
    </section>
}
