@using Du_Toan_Xay_Dung.Models
@{
    ViewBag.Title = "DonGiaChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var List_DM = ViewData["List_DinhMuc"] as List<DinhMucViewModel>;
    var List_DM_DG_VL = ViewData["DonGiaVL"] as List<DonGiaChiTiet_DM_ViewModel>;
    var List_DM_DG_NC = ViewData["DonGiaNC"] as List<DonGiaChiTiet_DM_ViewModel>;
    var List_DM_DG_MTC = ViewData["DonGiaMTC"] as List<DonGiaChiTiet_DM_ViewModel>;
}

<section class="content-header">
    <h1>Chi Tiêt Định Mức và Đơn Giá</h1>
    <ol class="breadcrumb">
        <li><a href="/HangMuc/Index"><i class="fa fa-dashboard"></i>Dự Toán</a></li>
        <li class="active">Định Mức và Đơn Giá</li>
    </ol>
</section>
<section class="content">
    <div id="container" class="container" style="margin-top:100px">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Đơn Giá Theo Định Mức</h3>
                        <div class="box-tools">
                            <div class="input-group" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th width="30px">STT</th>
                                    <th width="300px">Tên Công Tác</th>
                                    <th>Đơn Vị</th>
                                    <th>Định Mức</th>
                                    <th>Đơn Giá</th>
                                    <th>Thành Tiền</th>
                                </tr>
                                @if (List_DM != null && List_DM_DG_VL != null)
                                {
                                    foreach (var item in List_DM)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@item.CongTac @item.RangBuoc</td>
                                            <td>@item.DonVi</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        decimal? sum_VL = 0;
                                        foreach (var k in List_DM_DG_VL)
                                        {
                                            if (item.MaHieuCV_DM == k.MaHieuCV_DM)
                                            {
                                                sum_VL = sum_VL + k.Gia;
                                            }
                                        }
                                        <tr>
                                            <td></td>
                                            <td>&nbsp &nbspVật Liệu</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@sum_VL</td>
                                        </tr>
                                        foreach (var k in List_DM_DG_VL)
                                        {
                                            if (item.MaHieuCV_DM == k.MaHieuCV_DM)
                                            {
                                                var tt = k.Gia * k.SoLuong;
                                                <tr>
                                                    <td></td>
                                                    <td>&nbsp&nbsp&nbsp&nbsp @k.TenHP</td>
                                                    <td>@k.DonViHP</td>
                                                    <td>@k.SoLuong</td>
                                                    <td>@k.Gia</td>
                                                    <td>@tt</td>
                                                </tr>
                                            }
                                        }
                                        decimal? sum_NC = 0;
                                        foreach (var k in List_DM_DG_NC)
                                        {
                                            if (item.MaHieuCV_DM == k.MaHieuCV_DM)
                                            {
                                                sum_NC = sum_NC + k.Gia;
                                            }
                                        }
                                        <tr>
                                            <td></td>
                                            <td>&nbsp&nbsp Nhân Công</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@sum_NC</td>
                                        </tr>
                                        foreach (var k in List_DM_DG_NC)
                                        {
                                            if (item.MaHieuCV_DM == k.MaHieuCV_DM)
                                            {
                                                var tt = k.Gia * k.SoLuong;
                                                <tr>
                                                    <td></td>
                                                    <td>&nbsp&nbsp&nbsp&nbsp @k.TenHP</td>
                                                    <td>@k.DonViHP</td>
                                                    <td>@k.SoLuong</td>
                                                    <td>@k.Gia</td>
                                                    <td>@tt</td>
                                                </tr>
                                            }
                                        }
                                        decimal? sum_MTC = 0;
                                        foreach (var k in List_DM_DG_MTC)
                                        {
                                            if (item.MaHieuCV_DM == k.MaHieuCV_DM)
                                            {
                                                sum_MTC = sum_MTC + k.Gia;
                                            }
                                        }
                                        <tr>
                                            <td></td>
                                            <td>&nbsp&nbsp Máy Thi Công</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@sum_MTC</td>
                                        </tr>
                                        foreach (var k in List_DM_DG_MTC)
                                        {
                                            if (item.MaHieuCV_DM == k.MaHieuCV_DM)
                                            {
                                                var tt = k.Gia * k.SoLuong;
                                                <tr>
                                                    <td></td>
                                                    <td>&nbsp&nbsp&nbsp&nbsp @k.TenHP</td>
                                                    <td>@k.DonViHP</td>
                                                    <td>@k.SoLuong</td>
                                                    <td>@k.Gia</td>
                                                    <td>@tt</td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>
